body {
  background-color: darkgray !important;
}

.large {
  min-width: 200px;
}

.small {
  width: 100px;
  height: 100px;
}

.smaller {
  width: 65px;
  height: 65px;
}

.heading {
  font-size: 70px

}

.flowery{

font-family: 'Dancing Script', cursive;
}

.zombie-message {
  font-family: 'Freckle Face', cursive;
}